<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Sobre</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-2">
      <p>Turma: ADS0301M | PAS23103</p>
      <p>Turno: Manhã</p>
      <p>Unidade: Bonsucesso</p>
    </div>

    <div class="col-8 nome-centro nome-direita">
      <h2>Wanderson Araújo de Almeida</h2>
    </div>

    <div class="col-2 foto-centro">
      <img src="me.jpg" class="img-fluid" alt="Foto 3x4">
    </div>
  </div>
</div>
